.header {
    background-image: url('https://as1.ftcdn.net/v2/jpg/04/03/96/70/1000_F_403967041_boJlUcu325RkqP1pem1tuBOvk2t6oWlF.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 100px 0;
  }
  
  .main-content {
    padding: 50px 0;
  }
  
  .footer {
    color: #fff;
  }
  
  .footer h5 {
    margin-bottom: 20px;
  }
  